---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
import Subscribe from '../components/Subscribe.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

// Fetch blog posts
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort(sortItemsByDateDesc);

// Limit the number of posts to display on the home page
const postsToShow = sortedPosts.slice(0, siteConfig.postsPerPage || 4);
---

<BaseLayout
    title="Home"
    description="Welcome to my personal website and blog"
    image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Faizan's Space</h1>
    {postsToShow.map((post) => <PostPreview post={post} class="mb-10 sm:mb-12" />)}
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>